*,
html,body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
  }
  

nav{
display: flex;
justify-content: space-between;
padding: 1rem 2rem;
/* background-color: white; */
color: rgb(255, 254, 254);
font-size: 23px;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav ul li a:hover{
  color: orange;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
}

.menu-icon{
 font-size: 27px;
 display: none;
}

@media (max-width: 768px){
  nav{
    flex-wrap: wrap;
    border-radius: 0px 0px 30px 30px;
    /* width: 100%; */
    background-color: white;
    color: black;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .menu-icon{
    align-items: center;
    display: flex;
  }
  nav ul.hidden{
    display: none;
  }
}

/* tampilan utama */

body{
  background-image: url(astronot.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.tampilan-utama{
    justify-content: center;
    display: flex;
    min-height: 400px;
    /* background-image: url(astronot.jpg); */
    background-size: cover;
    background-position: start;
    align-items: center;
   width: 100%;
   background-attachment: fixed;
   color: white;
   
}

.menu-utama{
text-align: center;
}

.subtitle {
    letter-spacing: 2px;
    /* color: var(--text-light); */
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    /* color: var(--text-dark); */
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .description {
    line-height: 1.5rem;
    /* color: var(--text-light); */
    margin-bottom: 2rem;
    color: white;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  a{
    text-decoration: none;
      color: white;
    cursor: pointer;
  }

  .i{
    background-color: black;
    padding: 5px;
    border-radius: 4px;
  }

  .ttrl{
      color: blue;
  }

  /* card */
  
.card{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  border-radius: 30px 30px 0px 40px;
  height: auto;
  flex-wrap: wrap;
}

.card-item{
  margin-top: 30px;
  width: 30%;
  background-color: #faf5ff;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgb(132, 133, 134);
  height: max-content;
}

.card-item:last-of-type{
  margin-bottom: 50px;
}

.img-a{
  width: 100%;
  height: 250px;
  filter: grayscale(100%);
  border-radius: 12px 12px 0px 0px;
}
.img-a:hover{
  filter: grayscale(0);
  border: 3px solid red;
}

.nama-content{
  margin-top: 5px;
}

.atribut-content{
  margin-top: 5px;
  display: flex;
  gap: 1rem;
}

.border{
  border: 1px solid rgb(222, 220, 220);
  padding: 3px;
  margin-bottom: 10px;
}

.left{
  margin-left: 10px;
}


/* card library */

.img-book{
  width: 100%;
}

.judul{
  text-align: center;
  font-size: 25px;
  font-family: "Permanent Marker", cursive;
  flex-wrap: wrap;
  color: white;
  /* background-color: rgb(231, 228, 228); */
  padding: 50px;
}

.judul2{
  width: 100%;
  text-align: center;
  font-family: "popins", cursive;
  font-size: 25px;
}

/* .box{
  display: flex;
  padding: 10px;
  height: max-content;
  overflow-x: scroll;
} */


.wrap{
  background-color: white;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px 40px 0px 0px;
}

.cards{
  width: 20%;
  background-color: #dddcde;
  padding: 10px;
  box-shadow: 3px 3px 0px 0px rgb(67, 62, 62);
  margin: 10px;
}
.cards:hover{
  border: 3px solid red;
}
.rpl-logo{
  display: none;
}
.UI{
  margin-bottom: 10px;
}
.link{
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
}



.perbaikan{
background-color: white;
border-radius: 30px 30px 0px 0px;
margin-top: 10%;
padding: 10px;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
}


/* bhqbhqb */

.judul-pengertian:first-of-type{
  margin-top: 20px;
}

.judul-pengertian{
  font-family: "Popins", cursive;
  flex-wrap: wrap; 
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 28px;
  background-color: white;
  align-items: end;
  padding: 10px;
}
.pengertian{
  background-color: white;
  display: flex;
}
.pengertian1{
  flex-wrap: wrap;
  width: 50%;
  padding: 15px;
  /* background-color: #e7e5e8; */
  margin: 6px;
}
.kinerja{
  display: flex;
  margin-top: 10px;
  gap: 1rem;
}


/* footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

@media (max-width: 768px){
  .card{
    flex-wrap: wrap;
    border-radius: 30px 30px 0px 70px;
  }
  .card-item{
    flex-wrap: wrap;
    width: 90%;
  }
  .card-item:last-of-type{
    margin-bottom: 50px;
  }
  /* ------ */
  .wrap{
    display: flex;
    justify-content: space-around;
    border-radius: 0px 70px 0px 0px;
  }
  .rpl-logo{
    width: 100%;
    border-radius: 0px 70px 30px 30px;
    height: 200px;
    display: flex;
  }
  .cards{
  width: auto;
  }
  .cards:first-of-type{
    margin-top: 10px;
  }
 .pengertian{
  flex-wrap: wrap;
 }
 .pengertian1{
  width: auto;
 }
 .judul-pengertian{
 background-color: red;
 color: white;
}
.judul2{
 display: none;
}
}
